<div class="margin ">
   


    <div class="container mt-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item " aria-current="page">MailBox | Inbox Mails</li>
            </ol>
        </nav>
    
        <div class="heading">
            <span>Inbox Mails</span>
        </div>

        <div class="mt-5">
        <table class="table">
          <thead>
            <th>s.no</th>
            <th>From Address</th>
            <th>To Address</th>
            <th>Subject</th>
            <th>Converted To Technology</th>
            <th><a (click)="func()" href="javascript:void(0)" ><i class="fa fa-refresh" aria-hidden="true"></i></a></th>
         </thead>

         <tbody>
         <td><input type="checkbox" ></td>
         <td>rukesh235@gmail.com</td>
         <td>rukesh235@gmail.com</td>
         <td>node js</td>
         <td>yes</td>
         </tbody>

        </table>
        </div>
        
        
    </div>


</div>