.margin{
    margin-top: 116px;
}



.heading{
    height:40px;
    width:100%;
    background-color: gray;
    color: white;
    padding: 10px 0px;
    margin-top: -16px;
    
   
}

.table-heading{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.tech-search{
    color: white;
    padding: 10px 0px ;
    margin:10px 0px;
    width: 550px;
    background-color: blue;
    border-radius: 14px;
}

.side-heading
{
    color:white;
    font-weight: bold;
    letter-spacing: normal;
}


table {
    width: 100%;
    margin-bottom:120px;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .firstname{
    width: 50%;
  }