.margin{
     margin-top: 116px; 
}


.heading{
    height:40px;
    width:100%;
    background-color: gray;
    color: white;
    padding: 10px 0px;
    margin-top: -16px; 
}


.table-list-heading{
    width:100%;
    background-color: gray;
    color: white;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.table-heading{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-tech-search{
    color: white;
    padding: 10px 0px ;
    margin:10px 0px;
    width: 550px;
    background-color: blue;
    border-radius: 14px;
}

.side-heading
{
    color:white;
    font-weight: bold;
    letter-spacing: normal;
}


.table {
    width: 100%;
    text-align: justify;
   
  }

 .table-section{
    margin-bottom: 150px;
 }

  .firstname{
    width: 50%;
  }

  .btn-create-newtech{
    margin-top: -36px;
    margin-right: 30px;
  }