<div class="margin ">
    <div class="container mt-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item " aria-current="page">Technology | Search Technology</li>
            </ol>
        </nav>
    
        <div class="heading">
            <span>Search Technology</span>
        </div>

        <form class="mt-5" [formGroup]="searchTechForm">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control"  placeholder="Technology Name" formControlName="name" />
                </div>

                <div class="form-group col-md-6">
                    <label>code</label>
                    <input type="text" class="form-control"  placeholder="Description" formControlName="code"  />
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>From Date </label>
                    <input type="text" placeholder=" Created Date" class="form-control" bsDatepicker
                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" formControlName="fromdate" >
                </div>

                <div class="form-group col-md-6">
                    <label> To Date</label>
                    <input type="text" placeholder=" To Date" class="form-control" bsDatepicker
                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" formControlName="toDate" >
                </div>
            </div>

            <div class="form-row ">
                <div class="form-group col-md-6">
                   <label>Status</label> 
                    <select class="form-select" formControlName="status">
                      <option  selected>select status</option>
                      <option *ngFor="let status of status">{{status}}</option>
                    </select>                    
                  </div>

                <div class="form-group col-md-6">
                   <label>Description</label>
                    <textarea type="text" class="form-control"  placeholder="Description" formControlName="description"></textarea>                 
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Search" class="tech-search"  (click)="searchTechnology(searchTechForm)"/>
                </div>

                <div class="form-group col-md-6">
                    <input type="submit" value="Reset" class="tech-search" (click)="resetTechnology(searchTechForm)" />
                </div>
            </div>
         </form>


        

        <div class="">
           <table class="table">
              <thead>
                <tr>
               <th>Code </th> 
               <th>Name</th>
               <th>Description</th> 
               <th>Created Date</th>
               <th>Expected Completion Date</th>
               <th>Total Time To Complete</th>
               <th>Status</th>
               </tr>
              </thead>
              <tbody>
                <tr>
                <td>21-1</td>
                <td>Spring</td>
                <td>Spring</td>
                <td>21 march,2021</td>
                <td>21may,2022</td>
                <td>1year</td>
                <td>New</td>
                <tr>
              </tbody>
           </table>
        </div>

    </div>
</div>