<p>batchjobsettings-search works!</p>
<div class="margin ">



    <div class="container mt-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item " aria-current="page">Batchjobsettings | Search Batchjobsettings</li>
            </ol>
        </nav>

        <div class="heading">
            <span>Search Batchjobsettings</span>
        </div>

        <form class="mt-5">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label>Port Number</label>
                    <input type="text" class="form-control" name="name" placeholder="Port Number" />
                </div>

                <div class="form-group col-md-6">
                    <label>Protocal</label>
                    <input type="text" class="form-control" name="name" placeholder=" Protocal" />
                </div>

            </div>

            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label>Host</label>
                    <input type="text" class="form-control" name="name" placeholder="Host" />
                </div>

                <div class="form-group col-md-6">
                    <label>User Name</label>
                    <input type="text" class="form-control" name="name" placeholder="User Name" />
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Search" class="tech-search" />
                </div>

                <div class="form-group col-md-6">
                    <input type="submit" value="Reset" class="tech-search" />
                </div>
            </div>

        </form>

        <hr />
        <span class="table-heading">Technologies</span>
        <hr />

        <div>


        </div>

    </div>


</div>