<div class="margin ">
    
    <div class="container mt-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item " aria-current="page">Technology | Create Technology</li>
            </ol>
        </nav>
    
        <div class="heading">
            <span>Create Technology</span>
        </div>

        <form class="mt-5" [formGroup]="createTechForm">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Technology Name" formControlName="name" />
                    <div *ngIf="createTechForm.controls.name.errors 
                    && (createTechForm.controls.name.touched ||
                    createTechForm.controls.name.dirty)"  class="text-danger">
                    <div *ngIf="createTechForm.hasError('required','name')">
                        Name is Required
                    </div>
                    <div *ngIf="createTechForm.hasError('pattern','name')">
                        Name is Invalid Format
                    </div>
                    <div *ngIf="createTechForm.hasError('minlength','name')">
                        Name must be 3 characters long
                    </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Description</label>
                    <textarea type="text" class="form-control" placeholder="Description" formControlName="description"></textarea>
                    <div *ngIf="createTechForm.controls.description.errors && (createTechForm.controls.description.touched ||
                    createTechForm.controls.description.dirty)"  class="text-danger">
                    <div *ngIf="createTechForm.hasError('required','description')">
                        description is Required
                    </div>
                    <div *ngIf="createTechForm.hasError('minlength','description')">
                        description must be 3 characters long
                    </div>
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Expected Completion Date</label>
                    <input type="text" placeholder="Expected Completion Date" class="form-control" bsDatepicker
                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" formControlName="expectedCompletionDate">
                        <div *ngIf="createTechForm.controls.expectedCompletionDate.errors && (createTechForm.controls.expectedCompletionDate.touched ||
                        createTechForm.controls.expectedCompletionDate.dirty)"  class="text-danger">
                        <div *ngIf="createTechForm.hasError('required','expectedCompletionDate')">
                            expectedCompletionDate is Required
                        </div>
        
                        </div>
                    </div>
            </div>
          
           
            <div  class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Create"  class="tech-submit" (click)="saveTechForm(createTechForm)"/>
                </div>

                <div class="form-group col-md-6">
                    <input type="submit" value="Reset"  class="tech-submit" (click)="resetTechForm(createTechForm)"/>
                </div>
            </div>

        </form>
    </div>
</div>