<div class="container-fluid login fixed-top ">
   <div class="row">
    <div class="col-md-3 col-sm-3 col-lg-3"></div>
    
    <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="card">
        <div class="card-header  text-center">
            <h4 class="text-primary">Change Password</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="forgotPasswordForm">       
               <input type="text" class="form-control" placeholder="password" 
               formControlName="password"/>
               <div *ngIf="forgotPasswordForm.controls.password.errors && 
                (forgotPasswordForm.controls.password.touched 
                || forgotPasswordForm.controls.password.dirty)" class="text-danger">
                <div *ngIf="forgotPasswordForm.hasError('required','password')">
                   password is required
                </div>

                <div *ngIf="forgotPasswordForm.hasError('minlength','password')">
                  weak password
              </div>
               </div>
                <input type="text" class="form-control" placeholder="confirm password" 
                formControlName="confirmpassword"/>
                <div *ngIf="forgotPasswordForm.controls.confirmpassword.errors && 
                (forgotPasswordForm.controls.confirmpassword.touched 
                || forgotPasswordForm.controls.confirmpassword.dirty) " class="text-danger">
                <div *ngIf="forgotPasswordForm.hasError('required','confirmpassword')">
                  confirmpassword is required
                </div>
                <div *ngIf="">

                </div>
               </div>
                <div class="row">
                   <div class="col-md-4"></div>
                   <div class="col-md-4"></div>
                </div>
           </form>
       </div>
       <div class="card-footer">
           <input class="btn-submit" type="submit" value="Change Password"  (click)="changepassword(forgotPasswordForm)"/>
       </div>
    </div>
   </div>

    <div class="col-md-3 col-md-3 col-lg-3">
   </div>
    </div>
   
  </div>
  