<div class="margin ">



    <div class="container mt-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item " aria-current="page">Technology | DashBoard</li>
            </ol>
        </nav>

        <div class="heading">
            <span>DashBoard</span>
        </div>





        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card  bg-danger">
                    <div class="card-header">
                        <h5 class="card-title">New</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{TechnologyStatusResponse.newStatusCount}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-success bg-success ">
                    <div class="card-header">
                        <h5 class="card-title">Closed</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{TechnologyStatusResponse.closedStatusCount}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-primary bg-primary">
                    <div class="card-header">
                        <h5 class="card-title">In Progress</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{TechnologyStatusResponse.inProgressStatusCount}}</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>